.card-image-top {
  width: 15vw;
  height: 100%;
  object-fit: cover;
}

.source-author-line {
  font-style: italic;
  color: lightgray;
}

a {
  color: whitesmoke;
}

a:hover {
  color: whitesmoke;
  
}

.tag-pie-chart {
  width: 35px;
  border: 1px solid black;
    border-radius: 500px;
}

.card-img-top {
  height: 100%;
  width: 10vw;
  object-fit: cover;
}